<div class="container-fluid pt-5">
  <div class="row">
    <div class="col-lg-3"></div>

    <div class="col-lg-6 centredisplay">
      
      <br />
      <p class="headingtext">Genre <%= @genre.name.capitalize %></p>
      <br />

      <%= link_to 'ADD NEW BOOK', new_genre_book_path(@genre), class: 'btn btn-warning btn-spacing btn-sm' %>
      <%= link_to 'BACL TO FULL CATALOGUE', genres_path, class: 'btn btn-primary btn-spacing btn-sm' %>
      <br /><br />

      
      <p class="subtitletext">Books in the <%= @genre.name.capitalize %> genre</p>

      <div id="books">
        <% if @genre.books.any? %>
          <% @genre.books.each do |book| %>
            <div class="card mb-3" style="width: 75%; margin: 0 auto;">
              <div class="card-body">
              <h5 class="card-title"><%= book.title.capitalize %></h5>
              <hr />
              
                
                
                <p class="detailtext w-100">Author: </p>
                <p class="infotext mb-3"><%= book.author.capitalize %></p>
                <p class="detailtext w-100">Synopsis: </p>
                <p class="infotext mb-3"><%= book.synopsis %></p>
                
                <div class="buttons btn-space">
                  
                  <%= link_to 'Edit Book', edit_genre_book_path(@genre, book), class: 'btn btn-outline-warning btn-sm' %>
                  <%= button_to 'Delete Book', genre_book_path(@genre, book), method: :delete, class: 'btn btn-outline-danger btn-sm', data: { confirm: 'Are you sure?' } %>
                </div>
              </div>
            </div>
          <% end %>
        <% else %>
        <div class="alert alert-secondary custom-alert" role="alert">
        
        NO BOOKS CURRENTLY IN THIS GENRE - ADD ONE ABOVE
          
        <% end %>
      </div>
      
      <br />
    </div>

    <div class="col-lg-3"></div>
  </div>
</div>
