<div class="container-fluid pt-5">
  <div class="row">
    <div class="col-lg-3"></div>

    <div class="col-lg-6 centredisplay">
      <!-- Display the genre details -->
      <br />
      <p class="headingtext">GENRE <%= @genre.name.upcase %></p>
      <br />
      
      <!-- Action buttons -->
      <%= link_to 'ADD NEW BOOK', new_genre_book_path(@genre), class: 'btn btn-warning btn-sm' %>
      <%= link_to 'BACL TO FULL CATALOGUE', genres_path, class: 'btn btn-primary btn-sm' %>
      <br /><br />

      <!-- Books in the genre -->
      <p class="subtitletext">BOOKS IN THE <%= @genre.name.upcase %> GENRE</p>

      <div id="books">
        <% if @genre.books.any? %>
          <% @genre.books.each do |book| %>
            <div class="card mb-3" style="width: 100%; max-width: 600px; margin: 0 auto;">
              <div class="card-body">
                <p><strong>Title:</strong> <%= book.title %></p>
                <p><strong>Author:</strong> <%= book.author %></p>
                <p><strong>Synopsis:</strong> <%= book.synopsis %></p>
                <div class="buttons">
                  <%= link_to 'Show Book', [@genre, book], class: 'btn btn-outline-info btn-sm' %>
                  <%= link_to 'Edit Book', edit_genre_book_path(@genre, book), class: 'btn btn-outline-warning btn-sm' %>
                  <%= button_to 'Delete Book', genre_book_path(@genre, book), method: :delete, class: 'btn btn-outline-danger btn-sm', data: { confirm: 'Are you sure?' } %>
                </div>
              </div>
            </div>
          <% end %>
        <% else %>
        <div class="alert alert-secondary custom-alert" role="alert">
        
        NO BOOKS CURRENTLY IN THIS GENRE - ADD ONE ABOVE
          
        <% end %>
      </div>
      
      <br />
    </div>

    <div class="col-lg-3"></div>
  </div>
</div>
