<div class="container-fluid pt-5">
  <div class="row">
    <div class="col-lg-3">
    </div>

    <div class="col-lg-6 centredisplay">
      <br />
      <p class="headingtext">Books in the <%= @genre.name.capitalize%> genre</p>
      <br />
      
      <%= link_to 'ADD NEW BOOK TO GENRE', new_genre_book_path(@genre), class: 'btn btn-warning btn-sm' %>
      <%= link_to 'BACK TO FULL CATALOGUE', genres_path, class: 'btn btn-primary btn-sm' %>
      
      <br /><br />
      
      <div id="books">
        <% if @genre.books.any? %>
          <% @genre.books.each do |book| %>
            <div class="card mb-3" style="width: 75%; margin: 0 auto;">
              <div class="card-body">
                <div id="<%= dom_id book %>">
                <h5 class="card-title"><%= book.title %></h5>
              <hr />
                  <p class="detailtext w-100">Author: </p>
                <p class="infotext mb-3"><%= book.author %></p>
                  <p class="detailtext w-100">Synopsis: </p>
                <p class="infotext mb-3"><%= book.synopsis %></p>
                  
                </div>

                <div class="buttons btn-space">
                  
                  <%= link_to 'EDIT BOOK', edit_genre_book_path(@genre, book), class: 'btn btn-outline-warning btn-sm' %>
                  <%= button_to 'DELETE BOOK', genre_book_path(@genre, book), method: :delete, class: 'btn btn-outline-danger btn-sm' %>
                </div>
              </div>
            </div>
          <% end %>
        <% else %>
        <br />
        <div class="alert alert-secondary custom-alert" role="alert" style="width: 50%;">
        NO BOOKS CURRENTLY IN THIS GENRE - ADD ONE ABOVE
        </div>
        <% end %>
      </div>
    </div>

    <div class="col-lg-3">
    </div>
  </div>
</div>
