<%# Filename show.html.erb%>
<%# Author Rita O'Brien%>
<%# August 2024%>

<div class="container-fluid pt-5">
  <div class="row">
    
    <div class="col-lg-3">
    </div>
    
    <div class="col-lg-6 centredisplay">
      <br />
      <p class="headingtext">BOOK DETAILS</p>
      <br />
    
<%= link_to "BACK TO #{@genre.name.upcase} BOOKS", genre_books_path(@genre), class: 'btn btn-warning btn-spacing btn-sm' %>
<%= link_to "BACK TO FULL CATALOGUE", genres_path, class: 'btn btn-primary btn-spacing btn-sm' %>
      
      <br /><br />

      <div id="book">
        <%# using bootstrap cards tp display books in genre%>
        <div class="card mb-3" style="width: 75%; margin: 0 auto;">
          <div class="card-body">
            <div id="<%= dom_id @book %>">
            <h5 class="card-title"><%= @book.title.titleize %></h5>
              <hr />
              <p class="detailtext w-100">Author </p>
               <p class="infotext mb-3"><%= @book.author %></p>
              <p class="detailtext w-100">Synopsis </p>
               <p class="infotext mb-3"><%= @book.synopsis %></p>
             
            </div>

            <div class="buttons btn-space">
              <%= link_to 'EDIT BOOK', edit_genre_book_path(@genre, @book), class: 'btn btn-outline-warning btn-sm' %>
              <%= button_to 'DELETE BOOK', genre_book_path(@genre, @book), method: :delete, form: { data: { 'turbo-confirm': 'Are you sure?' } }, class: "btn btn-outline-danger btn-sm " %>
            </div>
          </div>
        </div>
      </div>
    </div>
    
    <div class="col-lg-3">
    </div>
  </div>
</div>
